__pycache__
.git/

# Outputs
*.jpg
*.png
*.gif
*.mp4
*.zip

# Models
*.ckpt
*.safetensors
*.pt
*.pth
*.bin
*.pt
*.onnx
*.torchscript

# ComfyUI
ComfyUI/venv
ComfyUI/temp
ComfyUI/user
ComfyUI/models
ComfyUI/custom_nodes/comfyUI_controlnet_aux/ckpts
ComfyUI/custom_nodes/ComfyUI-AnimateDiff-Evolved/models
ComfyUI/custom_nodes/ComfyUI-AnimateDiff-Evolved/motion_lora

# ComfyUI bits we just don’t need
ComfyUI/tests
ComfyUI/tests-ui
ComfyUI/notebooks
ComfyUI/script_examples
ComfyUI/.github
ComfyUI/.ci
ComfyUI/comfyui_screenshot.png
